#wrapperContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#contact{
    background-color: antiquewhite;
    border: lightgray 3px solid;
    width: 80%;
    height: 80%;
}
button {
    width: 200px;
    height: 75px;
}