/* position middle-container & properties */
#middle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 8%;
    height: 50%;
    width: 50%;
}
/* style text */
#contact-text{
    background-color: papayawhip ;
    border: antiquewhite 3px solid;
    padding: 5%;
    margin-bottom: 5%;
}