
body {
    font-family: Poppin, sans-serif;
    line-height: 1.5;
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1.5em;
}

h2 {
    font-size: 1rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5em;
}

legend {
    font-weight: 600;
    margin-bottom: 0.5em;
    padding: 0;
}

p {
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tbody {
    color: #b4b4b4;
}

td {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}

tr td~td {
    float: right;
}

tfoot {
    border-top: 1px solid #b4b4b4;
    font-weight: 600;
}

.align {
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    place-items: center;

}

#button {
    background-color:orange;
    border-radius: 999em;
    color: #fff;
    scale: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    padding-top: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    float: right;
}

#button:focus,
#button:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}

.card {
    border-radius: 1em;
    color: #fff;
    padding: 1em;
}

header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.paymentsMethods{
    margin-bottom: 1em;
}

.icon {
    height: 1em;
    display: inline-block;
    fill: currentColor;
    width: 1em;
    vertical-align: middle;
}
