#products{
    padding-bottom: 150px;
}

#products h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 52px;
    font-weight: 800;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.02em;
    color: orange;
    text-shadow:
    2px 3px 0px #515151;
}

#products #container{
    width: 100%;
    margin: auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#products ul {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 8px solid;
    padding: 80px;
    border-image: linear-gradient(to bottom, #f7b733,  #fc4a1a) 0 1;
}

#products ul li {
    margin: 15px;
}

.card {
    width: 300px;
    height: 400px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    text-align: center;
}

.card:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
}

.card a {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: darkorange;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    position: fixed;
    bottom: 0;
}

.card a:hover {
    opacity: 0.7;
    background-color: darkorange;
}

.card img {
    height: 65%;
    max-height: 300px;
    border-bottom: 1px solid #515151;
}

.card h2 {
    margin: 20px;
    text-align: center;
    font-size: 24px;
    color: #515151;
    text-transform: uppercase;
}