/*  main properties */
*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

/*  position top banner */
header{
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/* main properties body */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

footer{
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#spacer {
    flex: 1;
    padding-top: 15%;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: orange;
}

.footer-bottom p{
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color:orange;
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
    float: right;

}
.footer-menu ul{
    display: flex;
}
.footer-menu ul li{
    padding-right: 10px;
    display: block;
}
.footer-menu ul li a{
    color: #cfd2d6;
    text-decoration: none;
}
.footer-menu ul li a:hover{
    color: orange;
}

@media (max-width:500px) {
    .footer-menu ul{
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

/* main properties navigation bar */
nav{
    height: 150px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    border-bottom: 1px solid #515151;
}
/* name */
#top-container h1 {
    position: relative;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
}

/* logo */
#top-container img{
    width: 100px;
}
/* navigation bar container items */
.nav-links{
    flex:1;
    text-align: right;
}

/* navigation bar items */
.nav-links ul li{
    list-style-type: none;
    display: inline-block; 
    padding: 8px 12px;
    position: relative;
}

/* main styles navigation items */
.nav-links ul li a,.nav-links ul li button {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* underline nav bar items */
.nav-links ul li a::after{
    content:'';
    width: 0%;
    height: 2px;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* underline nav bar items animation */
.nav-links ul li a:hover::after{
    width: 100%;
}

/* banner personnalized message */
#userBanner{
    background-color: darkorange;
    overflow: hidden;
}

/* personnalized message */
#userBanner > :first-child {
    display: inline-block;
    padding-left: 100%;
    white-space: nowrap;
    animation: defilement-rtl 45s infinite linear;
    animation-name: defilement-rtl;
    animation-duration: 45s;
    animation-iteration-count: infinite;
}
/* message animation */
@keyframes defilement-rtl {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(-100%,0,0);
    }
}

/* custom flags  */
#top-container .flag{
    height: 45%;
    width: 45%;
}
/* center everything in dropdown  */
.dropdown-menu li{
    text-align: center;
}

/* change bootstraps properties  */
a.dropdown-item, a.dropdown-item:hover{
    background-color: orange;
}
