/* position middle-container & properties */
#middle-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 10%;
}